*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# we need *.jar, put proxool-0.9.1.jar for tomcat under WEB-INF/lib
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
